.recent-projects {
  margin: 5rem 0;
}

.recent-projects__header {
  font-size: 1rem;
  text-transform: uppercase;
}

.recent-projects__description {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 40px;
}

.recent-project__title {
  font-size: 2rem;
}

.recent-project__section {
  margin: 0 20px;
}
.recent-project__image {
  transition: 0.3s;
}
.recent-project__image:hover {
  filter: brightness(80%);
  transition: 0.3s;
}
.recent-project__image {
  max-width: 800px;
}

@media (min-width: 0px) {
  .recent-project__image {
    width: 95vw;
  }
}
@media (min-width: 600px) {
  .recent-project__image {
    width: 45vw;
  }
}
@media (min-width: 992px) {
  .recent-project__image {
    width: 38vw;
  }
}
