.project-view__description,
.project-view__tech-stack,
.project-view__personal-notes {
  font-size: 1.4rem;
  font-weight: 300;
}

.project-view__description__title {
  font-weight: 900;
}

.project-view__image {
  object-fit: cover;
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
}
