.thu-website {
  margin-left: 100px;
  margin-right: 500px;
}

.thu-website__description {
  font-size: 1.75rem;
  font-weight: 300;
}

.thu-website__image {
  object-fit: cover;
  width: 100%;
  max-width: 1000px;
}
