.resume {
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  margin: 2.4rem 15vw;
  padding: 20px 0;
}

.resume__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  margin: 10px 0;
}

.resume__links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.resume__links li {
  list-style: none;
  margin: auto;
}
.resume__header {
  font-weight: 700;
  border-bottom: 1px solid black;
}

.resume__leftcolumn--header {
  font-weight: 700;
}

.resume__rightcolumn--header {
  font-weight: 700;
  float: right;
}

.resume__leftcolumn--description {
  font-style: italic;
  margin-top: -25px;
}
.resume__rightcolumn--description {
  font-style: italic;
  margin-top: -30px;
  float: right;
}
.resume__list,
.resume__description {
  margin-top: -10px;
}

@media (max-width: 899px) {
  .resume__rightcolumn--header {
    float: left;
    padding: 0;
    margin: -15px 0;
  }
  .resume__rightcolumn--description {
    margin-top: -30px;
    float: left;
  }
  .resume__leftcolumn--header {
    margin: 0px 0;
    padding: 0 0px !important;
    font-size: 1.25rem;
  }
  .resume__leftcolumn--description {
    font-style: italic;
    margin-top: -10px;
  }
  .resume__links ul {
    flex-direction: column;
  }
}
