.tools {
  width: 100%;
  margin: 5rem 0;
}

.tools__header {
  font-size: 1rem;
  text-transform: uppercase;
}

.tools__description {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 40px;
}
