.jumbotron {
  position: relative;
  text-align: center;
  background-color: #1d1d1d;
  border: none;
}
.jumbotron__container {
  position: absolute;
  top: 50%;
  left: 50%;
}
.jumbotron__title,
.jumbotron__description {
  color: white;
}

.jumbotron__image {
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 0;
}

@media (min-width: 0px) {
  .jumbotron {
    margin-top: 75px;
  }
  .jumbotron__title {
    font-size: 7vw;
  }

  .jumbotron__description {
    font-size: 1.2rem;
  }

  .jumbotron__image {
    height: 35vh;
  }

  .jumbotron__container {
    transform: translate(-50%, -50%);
    width: 90%;
  }
}
@media (min-width: 576px) {
  .jumbotron {
    margin-top: 85px;
  }

  .jumbotron__title {
    font-size: 5vw;
  }

  .jumbotron__description {
    font-size: 1.2rem;
  }

  .jumbotron,
  .jumbotron__image {
    height: 50vh;
  }
}

@media (min-width: 992px) {
  .jumbotron {
    margin-top: 0px;
  }
  .jumbotron__title {
    font-size: 5rem;
  }
  .jumbotron,
  .jumbotron__image {
    height: 70vh;
  }
  .jumbotron__description {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .jumbotron,
  .jumbotron__image {
    height: 100vh;
  }
}
