.vite-plugin-react-markdown h1 {
  text-align: center;
  margin-top: 200px;
}

.vite-plugin-react-markdown h2 {
  margin-top: 4rem;
  font-size: 2.4rem;
  text-transform: capitalize;
}

.blog__date {
  font-style: italic;
  text-decoration: underline;
}

.blog__text p,
.blog__text li {
  font-size: 1.2rem;
  line-height: 2.4;
}

@media (min-width: 0px) {
  .vite-plugin-react-markdown h1 {
    font-size: 15vw;
  }
}
@media (min-width: 576px) {
  .vite-plugin-react-markdown h1 {
    font-size: 10vw;
  }
}

@media (min-width: 992px) {
  .vite-plugin-react-markdown h1 {
    font-size: 6vw;
  }
}
