.blog-title {
  text-align: center;
}

.blog-header {
  font-size: 2rem;
  text-transform: capitalize;
}

.blog-text p,
.blog-text li {
  font-size: 1.2rem;
  line-height: 2.4;
}

@media (min-width: 0px) {
  .blog-title {
    font-size: 15vw;
  }
}
@media (min-width: 576px) {
  .blog-title {
    font-size: 10vw;
  }
}

@media (min-width: 992px) {
  .blog-title {
    font-size: 6rem;
  }
}
