.privacy-dialog {
  position: fixed;
  bottom: 10px;
  margin-left: 1.2rem;
  border: 2px solid #79c2d0;
  border-left-width: 5px;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  width: 30%;
  z-index: 1;
  border-radius: 5px;
}

.privacy-dialog__close-btn {
  color: white;
  background-color: black;
  border: none;
  font-size: 1.5rem;
  top: 3px;
  right: 10px;
  position: absolute;
  padding: 0;
}

.privacy-dialog__close-btn:hover {
  cursor: pointer;
}

@media (max-width: 650px) {
  .privacy-dialog {
    width: 75vw;
  }
}
