.passion {
  margin: 5rem 0;
}
.passion__text {
  margin-left: 1rem;
  margin-top: 0;
}
.passion__text h2 {
  font-size: 2rem;
  margin-top: 0;
}

.passion__text p {
  font-size: 1.25rem;
}

.passion__image {
  width: 100%;
  max-width: 500px;
  border-radius: 3%;
}
