.webcard {
  background-color: black !important;
  border: 1px solid #282c34;
  border-left: 4px solid #282c34;
  max-width: 400px;
  max-height: 350px;
  color: white !important;
  transition: 0.5s !important;
}

.webcard:hover {
  border-color: #434a57;
  transition: 0.5s;
}

.webcard__link {
  color: #79c2d0;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
