/* BUG: form text appears on top of navbar */

.contact-form {
  padding-bottom: 5rem;
}

.contact-form__field {
  width: 100%;
  margin: 1rem 0 !important;
}

.contact-form__message--error {
  color: rgb(207, 0, 0);
}
.contact-form__message--success {
  color: #4caf50;
  font-size: 1.3rem;
}
