@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 200;
}

hr {
  border-color: #504f4f;
}

a,
a:visited {
  color: #79c2d0;
  transition: 0.3s color;
}

a:hover {
  color: white;
}

p {
  line-height: 1.6rem;
}

input {
  font-family: 'Poppins', sans-serif;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(134, 134, 134);
}
