.nuxt-content h1 {
  text-align: center;
}

.nuxt-content h2 {
  font-size: 2rem;
}

.nuxt-content ul li {
  margin-bottom: 10px;
}

.nuxt-content img {
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
}

.nuxt-content blockquote {
  margin: 0;
  border-left: 3px solid #7d7d7d4d;
}

.nuxt-content blockquote p {
  margin-left: 20px;
}

.nuxt-content figure {
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
}

.nuxt-content pre {
  padding: 10px;
}

.nuxt-content pre code {
  overflow-x: scroll;
  display: block;
  width: 100%;
}

/* Zero */
@media (min-width: 0px) {
  .nuxt-content h1 {
    font-size: 13vw;
  }
}

/* x-small */
@media (min-width: 576px) {
  .nuxt-content h1 {
    font-size: 7vw;
  }
}

/* small */
@media (min-width: 768px) {
}

/* Medium */
@media (min-width: 992px) {
  .nuxt-content h1 {
    font-size: 3.8rem;
  }
}
