.project__main a {
  text-decoration: none;
}

.project__main .recent-project__image {
  transition: filter 0.3s;
}

.project__main:hover .recent-project__image {
  filter: brightness(70%);
}

.projects__intro {
  margin-top: 10rem;
  margin-bottom: 20rem;
}

.recent-projects,
.projects {
  margin: 5rem 0;
}

.project__title {
  color: white;
  font-size: 2rem;
}

.project__image {
  max-width: 800px;
}

@media (min-width: 0px) {
  .project__image {
    width: 95vw;
  }
}
@media (min-width: 600px) {
  .project__image {
    width: 45vw;
  }
}
@media (min-width: 992px) {
  .project__image {
    width: 38vw;
  }
}
