.blog-card {
}

.blog-card__title {
}

.blog-card__description {
}

.blog-card__image {
  width: 350px;
  max-width: 100%;
}

.blog-card__link {
  transition: color 0.3s;
}

.blog-card__link:hover {
  color: white;
}
