.blog-card {
  margin: 1rem 2rem;
}

.blog-card a {
  text-decoration: none;
}

.blog-card__title {
  color: white;
}

.blog-card__image {
  width: 350px;
  max-width: 100%;
}

.blog-card__date {
  font-style: italic;
  margin-bottom: 10px;
}

.blog-card__link {
  transition: color 0.3s;
  text-decoration: underline !important;
}

.blog-card__link:hover {
  color: white;
}
