.jumbotron {
  width: 100%;
  background-color: rgb(37, 37, 37);
  background: no-repeat center;
  background-size: cover;
  color: white;
  height: 100vh;
  text-align: center !important;
}

.jumbotron__content {
  padding-top: 45vh;
}
.jumbotron__content--home {
  padding-top: 30vh;
}

.jumbotron__title {
  font-size: 5rem;
  padding: 0;
  margin: 0;
}

.jumbotron__description {
  text-align: center;
  font-size: 1.2rem;
}

.jumbotron__logo {
  width: 300px;
  padding: 0;
}
