.jumbotron {
  width: 100%;
  background-color: rgb(37, 37, 37);
  background: no-repeat center;
  background-size: cover;
  color: white;
  padding: 20rem 0;
  max-height: 1000px;
  text-align: center;
}

.jumbotron__title {
  font-size: 5rem;
  margin: 0;
}
