.navbar {
  width: 100%;
  background-color: royalblue;
  margin: 0;
  justify-content: space-between;
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  padding: 20px 0;
  transition: 0.5s;
}

.navbar.navbar--scroll {
  transition: 0.5s;
  background-color: black;
}

.navbar__links ul {
  display: flex;
  list-style: none;
}

.navbar__link {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar__toggle-btn {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar__toggle-btn--bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 732px) {
  .navbar__links {
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__links ul {
    display: flex;
    flex-direction: column;
  }
  .navbar__links.active ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .navbar__links li {
    text-align: center;
    margin: 20px 0;
    margin-right: 0;
  }
}
